chromadb==0.6.3
chroma-hnswlib==0.7.6
flashrank==0.2.10
openai==1.65.4
python-dotenv==1.0.1
langchain==0.3.20
langchainhub==0.1.21
langchain-community==0.3.19
langchain-chroma==0.2.2
langchain-core==0.3.41
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
langsmith==0.3.11
openpyxl==3.1.5
pandas==2.2.3
pypdf==5.3.1
python-dotenv==1.0.1
streamlit==1.43.0
streamlit_feedback==0.1.4
Jinja2==3.1.6
PyPDF2==3.0.1
nltk==3.9.1
scikit-learn==1.6.1
sentence-transformers==3.4.1
rouge==1.0.1
matplotlib==3.10.1